<h1>Home#index</h1>
<p>Find me in app/views/home/index.html.erb</p>


<div>
  <% @tweets.reverse.each do |tweet| %>
    <tr>
      <h1></h1>
      <h2><td><%= tweet.user %> <%= link_to tweet.user.email, user_profile_path(tweet.user) %></td></h2>
      <h2><td><%= tweet.tweet %></td></h2>
      <h3><td><%= link_to tweet.created_at, tweet_path(tweet.id)%></td></h3>
      <h3> Likes <td><%= tweet.user_id %></td></h3>
    </tr>
  <% end %>
</div>
 
<%= link_to 'New Tweet', new_tweet_path(@user) %>

<div class="row">
  <div class="col-md-8 offset-md-2">
    <%= paginate @tweets %>
  </div>
</div>